body {
  font-family: Arial;
}

/* Style the header */
.header {
  background-color: black;
  padding:20px;
  text-align: center;
  font-size:35px;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
  padding: 5px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
   -webkit-flex: 10px;
   -ms-flex: 1;
   flex: 1;
}

/* Middle column */
.column.middle {
  -webkit-flex: 8;
  -ms-flex: 2;
  flex: 2;
  background-image: url(transferir.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  text-align: center;
}
.menu a{
    color:white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    margin-right:20px;
}
.menu a:hover{
    color: burlywood;
}
.menu1 a{
    border-radius: 60rem;
    color:black;
    font-size: 20px;
    text-decoration: none;
    padding:20px 20px;
    margin-left: 70px;
  }
.menu1 a:hover{
    color: white;
    border: solid 3px;    
}
 

.footer{
     background-color: black;
    color: #fff;
    padding: 8px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    position:width;
}
.botaocontribuicao {
   border-radius: 60rem;
    padding:10px;
    font-family: "open_sanslight";
    font-size:20px;
    text-decoration:none;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(101deg, darkgoldenrod, khaki, peru, sandybrown);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: inset 5em 1em black;
 
}
.botaocontribuicao:hover {
    box-shadow: none;
    border-radius: 60rem;
  }

.button {
    border-radius: 60rem;
    padding:10px;
    font-family:"open_sanslight";
    font-size:20px;
    color:black;
    text-decoration:none;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, darkgoldenrod, khaki, peru, sandybrown);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 800px 1px white inset;
    text-align:center;
    position:relative;
}
.button:hover {
    box-shadow: none;
    border-radius: 60rem;
  }
  
.button return-button{
    display: inline; /* isso faz com que os itens fiquem na mesma linha*/
    background-color: 0;/* Cor do texto do Menu */
    margin-right: 2 px; /* Adicione o espaçamento desejado entre os itens */
    padding: 10 px 10px 10px 10 px; /* Espaçamento interno do botão*/
    border-radius:5 px; /*borda arredondada*/
    text-decoration: none; /* remova o sublinahdo do link*/
    transition:background-color 0.3s;/*Efeito transição ao passar o mouse*/
    z-index: index 0;
  }
.button return-button img{
    vertical-align:top;/* Centralizar verticalmente a imagem*/
    margin-right: 20px;/* Margem a direita da imagem para separa-la do texto */
    max-width: 30px;
    max-height: 30px;
  }
    
.btn_mobile{
   display:none; 
}
.mobile_menu{
    display:none;
}


 @media screen and (max-width: 480px){
.nav_bar{
        display: none;
        font-size:14px;
        padding:10px 10px;
        
    }
.menu{
    display:none;
    }  

.btn_mobile{
    display:block;
}
.btn_mobile button{
    backgroun-color:transparent;
    border:block;
    cursor:pointer;
}
.mobile_menu{
    display:flex;
    flex-direction:column;
    text-align:center;
    padding-bottom:1rem; 
    z-index:2
}
.mobile_menu_menu{
    display:block;
    padding-top: 1.2rem;
}
     
.open{
    display:block;
}

     
    
body{
        display:column;
        background-size:100vh;
        background-repeat: no-repeat;
        font-size:14px;
        margim-top:500px;
        
    }
         
.menu{   
    /*display:none:*/
         display:block;
         position:absolute;
         width:100%;
         top:70px;
         right:0px;
         background:cinza;
         transition:.6s;
         height:0px;
         visibility:hidden;
         
     }

     
.menu a{
        text-align: center;
         padding:.1rem 0;
         margin:0 .1rem;
         border-bottom:2px solid rgba(0, 0, 0, 0.5);
     }
     
.button {
         display:block;
         border-radius:100rem;
         text-align:center;
         top:3000px;
         margim-button:10px;     
         
     }



     
     @media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
