body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    margin: 20px;
}

#grafico {
    width: 200px;
    margin-right: 20px;
    text-align: center;
}

#graficoX, #graficoY {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

#tecido {
    border: 2px solid #000;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.peca {
    position: absolute;
    border: 1px solid #000;
    background-color: lightgray;
    text-align: center;
    padding: 5px;
}

.tabela {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

button {
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
